p, h1, h2, h3, h4, li, a {
	font-family: "Segoe UI", Helvetica, sans-serif;
}

body {
	background-color: #FFFFFF;
	margin: 0;
	margin-bottom: 20;
}

main {
	display: block;
}

/*-----START OF CROSS-WEBSITE NAV BAR-------*/

.mainTitle {
	color: #ccc;
	font-size: 80%;
	font-weight: 100;
}

.mainNav {
	width: 90%;
	margin-right: 10%;
	margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.mainNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.mainNav li {
	float: right;
}

.mainNav .floatLeft {
	float: left;
}

.mainNav li a {
	letter-spacing: 3px;
    display: inline-block;
    color: #FFF;
    padding: 14px 16px;
    text-decoration: none;
}

.mainNav li a:hover {
    background-color: #111;
    }

/*-------END OF NAV BAR-------*/

/*-------START OF CROSS-WEBSITE IMAGE AND TITLE-------*/

.titleOnPhoto h2 {
	padding-top: 12%;
	text-align: center;
	font-size: 400%;
	letter-spacing: 4px;
	font-weight: 100;
	color: #000;
}

/*photo styling*/
.backPhoto {
	opacity: .5;
	position: absolute;
	left: 0px;
	top:0px;
	z-index: -1;
}

/*-------START OF HOME PAGE-------*/

#homePageTitle {
	padding-top: 1%;
	text-align: center;
	font-size: 400%;
	letter-spacing: 4px;
	font-weight: 100;
	color: #000;
	padding-top: 3%;
}

figure.self {
	width: 40%;
	margin-right: 700px;
}

.blurb {
color: #94618E;
border: 2px solid;
border-color: #333;
height: 240px;
width: 475px;
border-radius: 4px;
font-size: 18px;
font-weight: 100;
letter-spacing: 2px;
text-align: center;
float: right;
margin-top: 110px;
margin-right: 100px;
margin-bottom: 400px;
padding-left: 10px;
padding-right: 10px;
}

.blurb a {
	text-decoration: none;
color: #333;

} 

.w3-btn img {

	padding-left: 10px;
	padding-right: 10px;
}


/*-------END OF HOME PAGE-------*/

/*-------START OF EDUCATION PAGE-------*/

.schools {
	margin-top: 300px;
	margin-bottom: 50px;
}

.schools ul {
	list-style-type: none;
}

.schools li {
float: left;
text-decoration: none;
}

.schools #special {
	font-size: 12px;
	font-style: italic;
}

/*Trent U box*/
li.trentu {
	margin-left: 15%;
}

.trentu:link {
	color: #FFF;
}

.trentu a:visited {
	color: #FFF;
	text-decoration: none;
}

.trentu:hover {
	background-color: #333;
}

.trentu #specialBold {
	font-size: 12px;
	font-style: italic;
	font-weight: 700;
}

/*Trent U and Adam Scott boxes*/
.trentu, .adamScott {
	background-color: #5b5b5b;
	color: #FFF;
	height: 250px;
	width: 350px;
	padding-top: 10px;
	text-align: center;
}

.trentu a, .adamScott a {
	text-decoration: none;
}

/*Adam Scott box*/
.adamScott:link {
	color: #FFF;
}

li.adamScott {
margin-left: 12%;
}

.adamScott a:visited {
	color: #FFF;
	text-decoration: none;
}

.adamScott:hover {
	background-color: #333;
}*/

/*-------END OF EDUCATION PAGE-------*/

/*-------START OF CROSS-WEBSITE FOOTER-------*/
footer {
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	bottom: 0;
	margin-bottom: 1px;
	width: 100%;
	overflow: hidden;
	margin-top: 700px;
}
/*-------END OF CROSS-WEBSITE FOOTER-------*/


