p, h1, h2, h3, h4, li, a {
	font-family: "Segoe UI", Helvetica, sans-serif;
}

body {
	background-color: #FFFFFF;
	margin: 0;
}

/*-----START OF CROSS-WEBSITE NAV BAR-------*/

.mainTitle {
	color: #ccc;
	font-size: 80%;
	font-weight: 100;
}

.mainNav {
	width: 90%;
	margin-right: 10%;
	margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.mainNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.mainNav li {
	float: right;
}

.mainNav .floatLeft {
	float: left;
}

.mainNav li a {
	letter-spacing: 3px;
    display: inline-block;
    color: #FFF;
    padding: 14px 16px;
    text-decoration: none;
}

.mainNav li a:hover {
    background-color: #111;
    }

/*-------END OF NAV BAR-------*/

/*-------START OF HOME PAGE-------*/

.homePageTitle {
	padding-top: 3%;
}

.img-circle {
	border-radius: 50%;
}

.blurb {

	padding-top: 10%;
	padding-right: 5%;
}

.w3-btn img {

	padding-left: 10px;
	padding-right: 10px;
}


/*-------END OF HOME PAGE-------*/

/*-------START OF EDUCATION PAGE-------*/

.titleOnPhoto h2 {
	padding-top: 10%;
	text-align: center;
	font-size: 200%;
	letter-spacing: 4px;


}

.trent {
	opacity: .5;
	position: absolute;
	left: 0px;
	top:0px;
	z-index: -1;
	padding-top: 8%;

}

.trentu, .adamScott {
	background-color: #5b5b5b;
	color: #FFF;
	height: 200px;
	width: 250px;
	padding-top: 10px;
	text-align: center;
	margin-top: 30%;
}

.trentu:link {
	color: #FFF;
}

.trentu {
	margin-left: 10%;
}

.trentu a, .adamScott a {
	text-decoration: none;
}

.trentu a:visited {
	color: #FFF;
	text-decoration: none;
}

.trentu:hover {
	background-color: #333;
}

.adamScott:link {
	color: #FFF;
}

.adamScott {
	margin-left: 20%;
}

.adamScott a:visited {
	color: #FFF;
	text-decoration: none;
}

.adamScott:hover {
	background-color: #333;
}

/*-------END OF EDUCATION PAGE-------*/

/*-------START OF CROSS-WEBSITE FOOTER-------*/
footer {
	text-align: center;
	padding-top: 0.5px;
	padding-bottom: 0.5px;

	bottom: 0;
}
/*-------END OF CROSS-WEBSITE FOOTER-------*/


