p, h1, h2, li, a {
	font-family: "Segoe UI", Helvetica, sans-serif;
}

body {
	background-color: #FFFFFF;
	margin: 0;
}


.mainTitle {
	color: #ccc;
	font-size: 80%;
	font-weight: 100;
}

.mainNav {
	width: 90%;
	margin-right: 10%;
	margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.mainNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.mainNav li {
	float: right;
}

.mainNav .floatLeft {
	float: left;
}

.mainNav li a {
	letter-spacing: 3px;
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

header h1 {
	text-align: center;
	color: #000000;
	font-size: 180%;
}

a img {

	padding-left: 10px;
	padding-right: 10px;
}

.img-circle {
	border-radius: 50%;
}

